body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 15px;
    background: white;
    color: darkblue;
}

.logo {
    margin: 0;
}

/* Three dots icon */
.menu-icon {
    font-size: 24px;
    cursor: pointer;
}

/* Menu */
.menu {
    display: none;
    position: absolute;
    right: 10px;
    top: 60px;
    background: white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    border-radius: 8px;
    overflow: hidden;
}

.menu a {
    display: block;
    padding: 12px 20px;
    text-decoration: none;
    color: black;
}

.menu a:hover {
    background: #f1f1f1;
}
        .hero{
    height:50vh;
   background-color: whitesmoke;
    background-size:cover;
    background-position:center;
    display:flex;
    align-items:center;
    justify-content:center;
    text-align:center;
    color:darkblue;
}

.hero h1{
    font-size:48px;
}

/* CONTACT SECTION */
section{
    padding:80px 60px;
}

.contact-container{
 
    grid-template-columns:1fr 1.2fr;
    gap:40px;
    max-width:1200px;
    margin:auto;
}

.contact-info{
    background:darkblue;
    color:#fff;
    padding:45px;
    border-radius:18px;
}

.contact-info h2{
    margin-bottom:20px;
}

.contact-info p{
    margin-bottom:15px;
    font-size:16px;
}

/* GOOGLE FORM */
.google-form{
    background:#fff;
    padding:25px;
    border-radius:18px;
    box-shadow:0 10px 30px rgba(0,0,0,0.12);
}

.google-form iframe{
    width:100%;
    height:620px;
    border:none;
}
footer{
    background:darkblue;
    color:#fff;
    text-align:center;
    padding:20px;

}
