body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 15px;
    background: white;
    color: darkblue;
}

.logo {
    margin: 0;
}

/* Three dots icon */
.menu-icon {
    font-size: 24px;
    cursor: pointer;
}

/* Menu */
.menu {
    display: none;
    position: absolute;
    right: 10px;
    top: 60px;
    background: white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    border-radius: 8px;
    overflow: hidden;
}

.menu a {
    display: block;
    padding: 12px 20px;
    text-decoration: none;
    color: black;
}

.menu a:hover {
    background: #f1f1f1;
}
        .hero{
    height:60vh;
     background-color: whitesmoke;
    background-size:cover;
    background-position:center;
    display:flex;
    align-items:center;
    justify-content:center;
    text-align:center;
    color:black;
}

.hero h1{
    font-size:50px;
}

/* SERVICES SECTION */
section{
    padding:80px 60px;
}

.section-title{
    text-align:center;
    margin-bottom:50px;
}

.section-title h2{
    font-size:36px;
    color:#0b3c5d;
}

.section-title p{
    color:#666;
}

.services{
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(280px, 1fr));
    gap:30px;
}

.service-card{
    background:#fff;
    border-radius:18px;
    overflow:hidden;
    box-shadow:0 10px 30px rgba(0,0,0,0.1);
    transition:0.3s;
}

.service-card:hover{
    transform:translateY(-10px);
}

.service-card img{
    width:100%;
    height:200px;
    object-fit:cover;
}

.service-content{
    padding:30px;
}

.service-content h3{
    margin-bottom:10px;
    color:#0b3c5d;
}

/* CTA */
.cta{
    background:white;
    color:black;
    text-align:center;
    padding:70px 20px;
}

.cta h2{
    font-size:38px;
    margin-bottom:15px;
}

.cta a{
    background:darkblue;
    color:#fff;
    padding:14px 35px;
    border-radius:30px;
    text-decoration:none;
    font-weight:bold;
}

/* FOOTER */
footer{
    background:darkblue;
    color:#fff;
    text-align:center;
    padding:20px;
}